[submodule "cpp_libs/CGI/OpenSceneGraph/14_ImGuiQt/imgui"]
	path = cpp_libs/CGI/OpenSceneGraph/14_ImGuiQt/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "cpp_libs/CGI/OpenSceneGraph/14_ImGuiQt/imgui-osg"]
	path = cpp_libs/CGI/OpenSceneGraph/14_ImGuiQt/imgui-osg
	url = git@github.com:marek-cel/imgui-osg.git
[submodule "cpp_libs/CGI/OpenSceneGraph/13_ImGui/imgui-osg"]
	path = cpp_libs/CGI/OpenSceneGraph/13_ImGui/imgui-osg
	url = git@github.com:marek-cel/imgui-osg.git
[submodule "cpp_libs/CGI/OpenSceneGraph/13_ImGui/imgui"]
	path = cpp_libs/CGI/OpenSceneGraph/13_ImGui/imgui
	url = git@github.com:ocornut/imgui.git
